 body{
	background-color: #242933;
	color: #acbae1;
	font-family: Arial, Helvetica, sans-serif;
}

h5{
	color: #8088a9;
	font-weight: normal;
	font-size: 15px;
	margin: 0;
	padding-bottom: 5px;
}

form{
	width: 15%;
	background-color: #2f3644;
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	border: #6b7490 2px solid;
	border-width: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

button{
	color: white;
	background-color: #6c63ff;
	position: center;
	border-radius: 4px;
	width: 100%;
	height: 40px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
}

.datafield{
	border-radius: 4px;
	height: 40px;
	padding-left: 10px;
	width: 100%;
	vertical-align: middle;
	margin-bottom: 10px;
}

.datafield:valid {
	border: 3px solid #09c372;
  }
  
.datafield:invalid {
	border: 3px solid #bb2929;
  }

.form_group .error{
	color: #bb2929;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
}

.validation img,
.error img {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: none;
}

.validation.show img {
  display: block;
}

.error.show img {
  display: block;
}